body {
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
    width: 500px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.button_primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.img_style {
    width: 60%;
    height: 60%;
}